body{
    background-image: linear-gradient(to right, black, #610061ff);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif; /*Fonte da Pagina*/
    background-color: black; /*Cor de fundo principal*/
    margin: 0; /*Remove a margem*/
    background-size: cover; /* Faz a imagem cobrir toda a área do body */
    background-position: center; /*Centraliza a imagem*/
    background-repeat: no-repeat; /*Impede a repetição da imagem de fundo*/
    min-height: 100vh;/*Garante que a altura minima seja a da tela*/
    color: white;/*Cor de texto*/

}
h3{
    color: white;
    text-align: center;
}
h1{
    color: white;
    text-align: center;  
}
img{
    width: 80px;
    height: 80px;
    
    
}
nav ul{
    list-style: none; /*Remove os marcadores de lista*/
    margin: 20;/*Remove as margens*/
    padding: 250px;/*Remove espaçamento*/
    display: flex;/*Coloca os itens da lista em linha (horizontal)*/
    justify-content: space-between;/*Faz o link oucupar a area de clique*/
   
}
.borda{
    text-align: center;
    padding: 70px;/*Preenchimento interno*/
    height: 70px;
    max-width: 100%px;/*Limite da largura*/
    background-color: rgba(255, 255, 255, 0.8);/*Cor de fundo branca com transparencia (IA)*/
    border-radius: 300px;
    
}
.zoom-img {
    transition: transform 1.0s ease;
    transition: border 1.0s ease; /* Transição suave */
    cursor: pointer;
}

.zoom-img:hover {
    transform: scale(1.05);
}

.login-botao {
    width: 100%;
    max-width: 150px;
    padding: 10px 12px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 7px;
    background-color: #5a2e9b;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
}

.login-botao:hover {
    background-color: #341b5a;
    text-decoration: none;
    text-align: center;
}

a {
    color: #5a2e9b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* =================================
   Tipografia
   ================================= */
h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

p {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
}
